// Define variables for your color scheme

// For example:
$red: rgb(211, 71, 60);
$blue: rgb(170, 224, 226);
$yellow: rgb(255, 247, 104);
$orange: rgb(242, 159, 70);
$green: rgb(152, 211, 169);
$gray: rgb(100, 100, 100);
$light-gray: rgb(200, 200, 200);
