<div id="team">
  <div class="user-wrapper">
    <h1 class="text-center">This template is built with <i class="fa fa-heart" aria-hidden="true"></i> by</h1>
    <div class="users">
      <% data.users.each do |user| %>
          <div class="user">
            <img src="https://kitt.lewagon.com/placeholder/users/<%= user.github_nickname %>" alt="" class="img-circle avatar">
            <p><%= user.name %></p>
          </div>
      <% end %>
    </div>
  </div>
</div>

